---
http_interactions:
- request:
    method: get
    uri: https://dog.ceo/api/breed/Labrador/images/random/6.json
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: ASCII-8BIT
      string: '{"status":"success","message":["https:\/\/images.dog.ceo\/breeds\/labrador\/n02099712_3340.jpg","https:\/\/images.dog.ceo\/breeds\/labrador\/n02099712_3865.jpg","https:\/\/images.dog.ceo\/breeds\/labrador\/n02099712_4037.jpg","https:\/\/images.dog.ceo\/breeds\/labrador\/n02099712_4133.jpg","https:\/\/images.dog.ceo\/breeds\/labrador\/n02099712_4960.jpg","https:\/\/images.dog.ceo\/breeds\/labrador\/n02099712_7866.jpg"]}'
  recorded_at: Wed, 17 Apr 2019 08:29:42 GMT
- request:
    method: post
    uri: https://dog-days-api.herokuapp.com/api/v1/dogs?breed=Labrador&image=https://images.dog.ceo/breeds/labrador/n02099712_3340.jpg&user_id=1
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"b7e0cce3f4f3c4bd3d2b79cc2d00312a"
    body:
      encoding: UTF-8
      string: '{"id":8,"user_id":1,"breed":"Labrador","image":"https://images.dog.ceo/breeds/labrador/n02099712_3340.jpg","created_at":"2019-04-17T08:30:45.021Z","updated_at":"2019-04-17T08:30:45.021Z"}'
  recorded_at: Wed, 17 Apr 2019 08:29:42 GMT
- request:
    method: get
    uri: https://dog-days-api.herokuapp.com/api/v1/dogs?user_id=1
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"d9a4783c754b5b9056e6c072737328c7"
    body:
      encoding: UTF-8
      string: '[{"id":1,"user_id":1,"breed":"Labrador","image":"https://images.dog.ceo/breeds/labrador/n02099712_6901.jpg"[...]
