---
http_interactions:
- request:
    method: get
    uri: https://dog.ceo/api/breed/Labrador/images/random/6.json
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: ASCII-8BIT
      string: '{"status":"success","message":["https:\/\/images.dog.ceo\/breeds\/labrador\/n02099712_1200.jpg","https:\/\/images.dog.ceo\/breeds\/labrador\/n02099712_3963.jpg","https:\/\/images.dog.ceo\/breeds\/labrador\/n02099712_4403.jpg","https:\/\/images.dog.ceo\/breeds\/labrador\/n02099712_5017.jpg","https:\/\/images.dog.ceo\/breeds\/labrador\/n02099712_5338.jpg","https:\/\/images.dog.ceo\/breeds\/labrador\/n02099712_7802.jpg"]}'
  recorded_at: Wed, 17 Apr 2019 00:50:23 GMT
- request:
    method: post
    uri: https://dog-days-api.herokuapp.com/api/v1/dogs?breed=Labrador&image=https://images.dog.ceo/breeds/labrador/n02099712_1200.jpg
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"1d99def9fd97a178e8ffbaa32171e1e3"
    body:
      encoding: UTF-8
      string: '{"id":10,"breed":"Labrador","image":"https://images.dog.ceo/breeds/labrador/n02099712_1200.jpg","created_at":"2019-04-17T00:51:28.710Z","updated_at":"2019-04-17T00:51:28.710Z"}'
  recorded_at: Wed, 17 Apr 2019 00:50:26 GMT
- request:
    method: get
    uri: https://dog-days-api.herokuapp.com/api/v1/dogs.json
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"47340c3577786c9fb6923c1eefbe2b5c"
    body:
      encoding: UTF-8
      string: '[{"id":1,"breed":"Labrador","image":"https://images.dog.ceo/breeds/labrador/n02099712_6901.jpg","created_at":"20[...]
