---
http_interactions:
- request:
    method: get
    uri: https://dog.ceo/api/breed/Labrador/images/random/6.json
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: ASCII-8BIT
      string: '{"status":"success","message":["https:\/\/images.dog.ceo\/breeds\/labrador\/n02099712_1941.jpg","https:\/\/images.dog.ceo\/breeds\/labrador\/n02099712_3503.jpg","https:\/\/images.dog.ceo\/breeds\/labrador\/n02099712_3963.jpg","https:\/\/images.dog.ceo\/breeds\/labrador\/n02099712_511.jpg","https:\/\/images.dog.ceo\/breeds\/labrador\/n02099712_6421.jpg","https:\/\/images.dog.ceo\/breeds\/labrador\/n02099712_6646.jpg"]}'
  recorded_at: Wed, 17 Apr 2019 01:24:35 GMT
- request:
    method: post
    uri: https://dog-days-api.herokuapp.com/api/v1/dogs?breed=Labrador&image=https://images.dog.ceo/breeds/labrador/n02099712_1941.jpg
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"a8389b0dfa89589c593e3fab11784e95"
    body:
      encoding: UTF-8
      string: '{"id":14,"breed":"Labrador","image":"https://images.dog.ceo/breeds/labrador/n02099712_1941.jpg","created_at":"2019-04-17T01:25:37.893Z","updated_at":"2019-04-17T01:25:37.893Z"}'
  recorded_at: Wed, 17 Apr 2019 01:24:35 GMT
- request:
    method: get
    uri: https://dog-days-api.herokuapp.com/api/v1/dogs.json
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"3b782f5b0014919baf8d4cf8efbe5676"
    body:
      encoding: UTF-8
      string: '[{"id":1,"breed":"Labrador","image":"https://images.dog.ceo/breeds/labrador/n02099712_6901.jpg","created_at":"20[...]
- request:
    method: delete
    uri: https://dog-days-api.herokuapp.com/api/v1/dogs/14
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"74a020b7d915835e9286ef94bf4bdce3"
    body:
      encoding: UTF-8
      string: '{"success":"Dog id number 14 has been deleted"}'
  recorded_at: Wed, 17 Apr 2019 01:24:38 GMT
[...]
