---
http_interactions:
- request:
    method: get
    uri: https://dog.ceo/api/breed/Labrador/images/random/6.json
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: ASCII-8BIT
      string: '{"status":"success","message":["https:\/\/images.dog.ceo\/breeds\/labrador\/Luke.jpg","https:\/\/images.dog.ceo\/breeds\/labrador\/n02099712_2115.jpg","https:\/\/images.dog.ceo\/breeds\/labrador\/n02099712_2234.jpg","https:\/\/images.dog.ceo\/breeds\/labrador\/n02099712_328.jpg","https:\/\/images.dog.ceo\/breeds\/labrador\/n02099712_5017.jpg","https:\/\/images.dog.ceo\/breeds\/labrador\/n02099712_8242.jpg"]}'
  recorded_at: Wed, 17 Apr 2019 08:29:43 GMT
- request:
    method: post
    uri: https://dog-days-api.herokuapp.com/api/v1/dogs?breed=Labrador&image=https://images.dog.ceo/breeds/labrador/Luke.jpg&user_id=1
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"417ace497c38741ccc24d029558af5bc"
    body:
      encoding: UTF-8
      string: '{"id":9,"user_id":1,"breed":"Labrador","image":"https://images.dog.ceo/breeds/labrador/Luke.jpg","created_at":"2019-04-17T08:30:46.032Z","updated_at":"2019-04-17T08:30:46.032Z"}'
  recorded_at: Wed, 17 Apr 2019 08:29:43 GMT
- request:
    method: get
    uri: https://dog-days-api.herokuapp.com/api/v1/dogs?user_id=1
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"e385e7380d45f395c4e5a3a64a1f4353"
    body:
      encoding: UTF-8
      string: '[{"id":1,"user_id":1,"breed":"Labrador","image":"https://images.dog.ceo/breeds/labrador/n02099712_6901.jpg"[...]
- request:
    method: delete
    uri: https://dog-days-api.herokuapp.com/api/v1/dogs/9?user_id=1
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"3e097113d370203ad2745cc6eb40e299"
    body:
      encoding: UTF-8
      string: '{"success":"Dog id number 9 has been deleted from user_id 1"}'
  recorded_at: Wed, 17 Apr 2019 08:29:44 GMT
[...]
